/*主要样式*/
* {
    padding: 0;
    margin: 0;
}
#wrap.animate1 {
    position: relative;
    width: 50%;
    margin: 50px auto 0;
    overflow: hidden;
    ul {
        position: relative;
    }
    li {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        list-style: none;
    }
    li.active {
        z-index: 10;
    }
    li img {
        width: 100%;
    }
    .btn-group {
        position: absolute;
        bottom: 5px;
        left: 0;
        z-index: 11;
        width: 100%;
        text-align: center;
    }
    .btn-group span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 0 5px;
        background: #ddd;
        cursor: pointer;
    }
    span.active {
        background: red;
    }
}
#wrap.animate3 {
    width: 510px;
    margin:0 auto;
    ul {
        position: relative;
        height: 286px;
        overflow: hidden;
        li {
            position: absolute;
            width: 100%;//会有奇怪的现象
            top:0;
            left:100%;
            list-style: none;
            &:nth-of-type(1){
                left:0;
            }
            img{
                width: 100%;
            }
        }
    }
    .btn-group{
        position: relative;
        top: -25px;
        left:0;
        text-align: center;
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #ddd;
            cursor: pointer;
        }
        span.active{
            background: red;
        }
    }
}
